In [38]:
import boto3
s3_client = boto3.client(
    "s3",
    "us-east-1",
    aws_access_key_id = "ZZ0JLR12PPW4410IW3G9",
    aws_secret_access_key = "yBUSPjz6OxKcIChDGQ0Cd1I7o9Av4bZYZJYT3CJJ",
    endpoint_url= "http://rook-ceph-rgw-my-store-rook-ceph.apps.k8spro.nextret.net:8080",
    use_ssl= False,
    verify= False
)

#my_bucket = s3_client.Bucket('ccma-pre')

In [39]:
bucket_name = "ccma-pre"
prefix="enterprise/zapping/tables/"
s3_result =  s3_client.list_objects_v2(Bucket=bucket_name, Prefix=prefix, Delimiter = "/")

In [41]:
from trino.dbapi import trino

conn = trino.dbapi.connect(
        host='trino.apps.k8spro.nextret.net',
        port=31858,
        catalog="hive",
        user='admin')
query = "SHOW catalogs"    
cur = conn.cursor()
cur.execute(query)
rows = cur.fetchall()
print(rows)

[['hive'], ['system'], ['tpcds'], ['tpch']]

In [50]:
 for key in s3_result['Contents']:
        key_path = key['Key']
        response = s3_client.get_object(Bucket=bucket_name, Key=key_path)
        file_content = response['Body'].read().decode('utf-8')
        print(key_path)
        file_content = file_content.replace("${baseLocation}", "s3a://" + bucket_name)
        for query in file_content.split(";"):
                if(len(query) > 5):
                    query = query.replace("EXTERNAL", "")
                    #print("query", query)
                    try:
                        cur.execute(query)
                        rows = cur.fetchall()
                        print("---------- ok -------------")
                    except trino.dbapi.Error as e:
                        print(f'Error executing Trino query: {e}')

enterprise/zapping/tables/Control_Tables.hql
---------- ok -------------
---------- ok -------------
enterprise/zapping/tables/ccma_canals_kantar.hql
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=QUERY_HAS_TOO_MANY_STAGES, message="Number of stages in the query (328) exceeds the allowed maximum (150). If the query contains multiple aggregates with DISTINCT over different columns, please set the 'use_mark_distinct' session property to false. If the query contains WITH clauses that are referenced more than once, please create temporary table(s) for the queries in those clauses.", query_id=20230504_061216_00047_uuybf)
enterprise/zapping/tables/external_table_aux_hbbtv_ip_perfilat_programes_first.hql
---------- ok -------------
enterprise/zapping/tables/external_table_aux_hbbtv_ip_perfilat_programes_last.hql
---------- ok -------------
enterprise/zapping/tables/external_table_gfk.hql
---------- ok -------------
enterprise/zapping/tables/external_table_graella.hql
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=INVALID_TABLE_PROPERTY, message="textfile_field_separator must be a single character string, but was: '\t'", query_id=20230504_061218_00051_uuybf)
enterprise/zapping/tables/external_table_graella_kantar.hql
---------- ok -------------
enterprise/zapping/tables/external_table_hbbtv_ip_abandonament.hql
---------- ok -------------
enterprise/zapping/tables/external_table_hbbtv_ip_agregats.hql
---------- ok -------------
enterprise/zapping/tables/external_table_hbbtv_ip_ccma_graella_visualitzacions.hql
---------- ok -------------
enterprise/zapping/tables/external_table_hbbtv_ip_perfilat_programes.hql
---------- ok -------------
enterprise/zapping/tables/external_table_hbbtv_ip_rebots.hql
---------- ok -------------
enterprise/zapping/tables/external_table_hbbtv_ip_sortides.hql
---------- ok -------------
enterprise/zapping/tables/external_table_kantar_abandonament.hql
---------- ok -------------
enterprise/zapping/tables/external_table_kantar_agregats.hql
---------- ok -------------
enterprise/zapping/tables/external_table_kantar_graella_visualitzacions.hql
---------- ok -------------
enterprise/zapping/tables/external_table_kantar_perfilat_programes.hql
---------- ok -------------
enterprise/zapping/tables/external_table_kantar_rebots.hql
---------- ok -------------
enterprise/zapping/tables/external_table_kantar_sortides.hql
---------- ok -------------
enterprise/zapping/tables/external_tables_kantar_iaad.hql
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=TABLE_NOT_FOUND, message="line 1:1: Table 'hive.ccma_analytics.kantar_audiencies_diferits' does not exist", query_id=20230504_061225_00065_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 21:113: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061225_00066_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=TABLE_NOT_FOUND, message="line 3:1: Table 'hive.ccma_analytics.kantar_audiencies_directes' does not exist", query_id=20230504_061225_00067_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 19:110: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061225_00068_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 196:110: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061225_00069_uuybf)
enterprise/zapping/tables/external_tables_kantar_iapd.hql
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 12:123: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061225_00070_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 14:116: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061226_00071_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 51:113: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061226_00072_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 14:127: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061226_00073_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 51:113: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061226_00074_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 16:113: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061226_00075_uuybf)
enterprise/zapping/tables/external_tables_kantar_mp.hql
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 11:115: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061226_00076_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 13:121: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061226_00077_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 15:124: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061226_00078_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 14:122: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061226_00079_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 15:111: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061226_00080_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 14:119: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061226_00081_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 12:111: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061226_00082_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 12:111: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061226_00083_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 12:111: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061226_00084_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 13:114: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061227_00085_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 14:119: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061227_00086_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 14:119: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061227_00087_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 12:111: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061227_00088_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 13:127: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061227_00089_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 11:111: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061227_00090_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 14:120: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061227_00091_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 11:124: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061227_00092_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 10:128: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061227_00093_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 21:115: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061227_00094_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 13:125: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061227_00095_uuybf)
enterprise/zapping/tables/external_tables_pgfk_vgfk.hql
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 13:107: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061227_00096_uuybf)
Error executing Trino query: TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 36:107: mismatched input '['. Expecting: 'DEFAULT', <expression>", query_id=20230504_061228_00097_uuybf)
enterprise/zapping/tables/table_dictionary.hql
---------- ok -------------
---------- ok -------------
---------- ok -------------
---------- ok -------------
---------- ok -------------